{% extends "frame.html" %}
{% block navigation %}
    {% include "components/nav.html" %}
{% endblock navigation %}

{% block title %}
Hello World
{% endblock title %}

{% block content %}
    <h1>Hello World</h1>
    <form method="post" action="/">
        <p>
            Please enter your name:
            <input class="form-control form-control-lg" type="text" placeholder="Username">
        </p>

        <button type="submit" class="btn btn-outline-info">Submit</button>
    </form>
{% endblock content %}