<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item {% if navigation == 'home' %}active{% endif %}">
        <a class="nav-link" href="{{url_for('main.index')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if navigation == 'about' %}active{% endif %}">
        <a class="nav-link" href="{{url_for('main.about')}}">About</a>
      </li>
      <li class="nav-item {% if navigation == 'blog' %}active{% endif %}">
        <a class="nav-link" href="{{url_for('blog.posts')}}">Blog</a>
      </li>
      <li class="nav-item {% if navigation == 'faq' %}active{% endif %}">
        <a class="nav-link" href="{{url_for('main.faq')}}">FAQ</a>
      </li>
      <li class="nav-item {% if navigation == 'crypto' %}active{% endif %}">
        <a class="nav-link" href="{{url_for('main.crypto')}}">currency converter</a>
      </li>
      <li class="nav-item {% if navigation == 'gallery' %}active{% endif %}">
        <a class="nav-link" href="{{url_for('main.gallery')}}">Gallery</a>
      </li>
      <li class="nav-item {% if navigation == 'users' %}active{% endif %}">
        <a class="nav-link" href="{{url_for('user.usertabelle')}}">Users</a>
      </li>
      <li class="nav-item {% if navigation == 'registration' %}active{% endif %}">
        <a class="nav-link" href="{{url_for('user.registration')}}">Register</a>
      </li>
      <li class="nav-item {% if navigation == 'github' %}active{% endif %}">
        <a class="nav-link" href="https://github.com/VerenaBoeke/wd02_2020_flask">GitHub</a>
      </li>
      {% if not user %}
        <li class="nav-item right">
            <a class="nav-link" href="{{url_for('user.login')}}">Login</a>
        </li>
      {% else %}
        <li class="nav-item right">
            <a class="nav-link" href="{{url_for('user.logout')}}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('user.profile', username=user.username)}}">Profil</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>